{% extends "AppCoder/padre.html"%}
{%load static%}
{% block titulo_de_pagina%}
<h1 class="mb-5">ESTE TITULO VIENE DE INICIO</h1>
{%endblock%}
{% block contenido %}
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="btn btn-primary" href="{%url 'AutoFormulario1' %}">Ingresar Informacion</a>
                <a class="btn btn-primary" href="{%url 'autoFormularioBusq' %}">Buscar Informacion</a>

            </div>
        </nav>
{{mensaje}}

{%endblock%}